{% extends "::base.html.twig" %}

{% block body %}
    <div class='container'>
        <div class='row'> 
            <div class='admin-users-rooms'>
                <h3>Reservations: </h3>
                {% if reservations is empty %}
                    <h4>No reservations</h4>
                {% else %}
                    <table class='table'>
                        <tr><th>Room</th><th>Data</th><th>Start:</th><th>End:</th><th>Cancel</th></tr>
                                {% for reservation in reservations %}
                            <tr>
                                <td>
                                    {{ reservation.Room.name }}
                                </td>
                                <td>
                                    {{ reservation.date.date|date('Y-m-d') }}
                                </td>
                                <td>
                                    {{ reservation.timeStart.date|date('H:i')}}
                                </td>
                                <td>
                                    {{ reservation.timeEnd.date|date('H:i')}}
                                </td>
                                <td>
                                    <a class="delete btn btn-danger" href="{{ path('deleteUserReservation',{'id':reservation.id}) }}"><span class="glyphicon glyphicon-trash"></span> Cancel</a>  
                                </td>
                            </tr>

                        {% endfor %}
                    </table>

                {% endif %}
            </div>
        </div>
    </div>
    {% block javascript %}
        <script>
            $(".delete").on('click', function (e) {
                e.preventDefault();
                $(this).after('<div><span class="glyphicon glyphicon-exclamation-sign"></span> Are you sure?!</div>');
                $(this).unbind('click').click();
            });
        </script>
    {% endblock %}
{% endblock %}